 <div id="search_wrapper">
     <div id="forms_wrapper">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <mat-form-field appearance="outline">
            <mat-label for="name">
                Search
            </mat-label>
            <input required matInput name="search" ngModel>
            </mat-form-field>
            <button mat-button [disabled]="!f.valid" color="primary" type="submit">Search jobs</button>
        </form>

        <form id="toggle_form" [formGroup]="formGroup" ngNativeValidate>
            <mat-slide-toggle
                formControlName="view"
                (change)="onFormChange()">{{formGroup.value.view ? 'Chart View' : 'Cards View'}}
            </mat-slide-toggle>
        </form>
    </div>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field appearance="outline">
        <mat-label for="name">
            Search
        </mat-label>
        <input required matInput name="search" ngModel>
        </mat-form-field>
        <button mat-button [disabled]="!f.valid" color="primary" type="submit">Submit</button>
    </form>

    <mat-divider
        [style.display]="moreDetails? 'none' : 'block'">
    </mat-divider>
    <div *ngIf="!formGroup.value.view" id="cards_wrapper">
        <div *ngFor="let job of jobs">
            <mat-card
                id="card-{{job.id}}"
                class="card">
                <mat-card-header>
                    <div mat-card-avatar>
                        <button mat-icon-button
                            class="fave_button"
                            matTooltip="Add to favorites"
                            matTooltipClass="tooltip_red"
                            aria-label="heart icon">
                            <mat-icon>favorite</mat-icon>
                        </button>
                    </div>
                    <mat-card-title><small>Company name: </small>{{job.company_name}}</mat-card-title>
                    <mat-card-subtitle>{{job.title}}</mat-card-subtitle>

                </mat-card-header>
                <mat-card-content style="display: block">
                  <div class="mat-card-content-left" style=" width: 70%; float: left; display: flex">
                    <div id="{{job.id}}-div" style="width: 70%"><p id="{{job.id}}"></p></div>
                    <div id="{{job.id}}-chart" style="width: 30%; float: right" *ngIf="moreDetails"><app-radar-chart [width]="100" [height]="100"></app-radar-chart></div>

                    <p>
                        <small>Posted: </small>
                        {{job.publication_date | date}}
                    </p>
                  </div>




                </mat-card-content>
                <mat-card-actions>
                    <button
                        mat-button color="warn"
                        (click)="onMoreDetails(job)">
                        {{moreDetails? "Less ": "More "}}details
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div *ngIf="formGroup.value.view" id="chart_view">
        <iframe src="https://remotive.io/"></iframe>
    </div>
</div>
