/* You can add global styles to this file, and also import other style files */
//@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { 
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
    font-family: Roboto,
    "Helvetica Neue", sans-serif;
}

.mat-toolbar.mat-primary {
    background: #4e544e;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
}
